@import http: //fonts.googleapis.com/css?family=Raleway;
@import url(http://fonts.googleapis.com/css?family=Arvo);
html {
    background: url(http://content.wallpapers-room.com/presentationBig/Celled_Blue_by_murasaki55.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    padding: 10px 0 0 0;
    color: black;
}

h1 {
    text-align: center;
    font-family: arvo;
}

label {
    padding: 200px 0 0 0;
}

.feed {
    width: 550px;
    height: 55px;
    float: right;
}

.forms {
    float: right;
}

.form-control {
  display:block;
  width: 400px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  margin-left: 0;    
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#main {
    width: 20%;
    padding: 120px;
    margin: auto;
    font-family: arvo;
}

.photo-inner {
    border-color: cornflowerblue;
    border: 2px solid;
    width: 27%;
    padding: 10px;
    background-color: cornflowerblue;
    margin-top: 10px;
}

h2 {
    text-align: center;
    font-family: arvo;
    color: black;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px;
    padding: 15px;
}

hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px -40px;
    margin-bottom: 30px
}

#login {
    width: 300px;
    float: left;
    background-color: chartreuse;
    border-radius: 10px;
    font-family: arvo;
    border: 2px solid;
    border-color: chartreuse;
    padding: 10px 40px 25px;
    margin-top: 70px
}

#public {
    background-color: cornflowerblue;
    color: #fff;
    margin-top: 75px;
    border: 2px solid;
    border-color: aliceblue;
    padding: 10px;
    font-size: 15px;
    width: 80%;
    height: 50%;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10%;
}

#signup {
    width: 300px;
    float: left;
    border-radius: 10px;
    font-family: arvo;
    border: 2px solid #ccc;
    margin-top: 70px
}

input[type=text],
input[type=password] {
    width: 95%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family: arvo;
}
input[name=submit]{
 width: 100px;
    background-color: cornflowerblue;
    color: #fff;
    margin-top: 8px;
    border: 2px solid;
    border-color: cornflowerblue;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    margin-right: 100px;   
    
}
input[name=tweettext]{
width: 100%;
    background-color: cornflowerblue;
    color: #fff;
    margin-top: 10px;
    border: 2px solid;
    border-color: cornflowerblue;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 0;
    
    
}

input[value=Login], input[value=Signup] {
    width: 100%;
    background-color: cornflowerblue;
    color: #fff;
    margin-top: 10px;
    border: 2px solid;
    border-color: cornflowerblue;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[value=Follow] {
 width: 100px;
    background-color: cornflowerblue;
    color: #fff;
    margin-top: 8px;
    border: 2px solid;
    border-color: cornflowerblue;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    margin-right: 100px;
}
#unfollows .followButton {
 width: 100px;
    background-color: cornflowerblue;
    color: #fff;
    margin-top: 8px;
    border: 2px solid;
    border-color: cornflowerblue;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    margin-right: 100px;
}

input[type=tweet] {
    width: 25%;
    background-color: cornflowerblue;
    color: #fff;
    margin-top: 10px;
    border: 2px solid;
    border-color: cornflowerblue;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}


/*
#logout {
float: right;
width:10%;
background-color:cornflowerblue;
color: aliceblue;
margin-top:10px;
border:2px solid;
border-color: cornflowerblue;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;

}
*/

a {
    color: black;
}

#profiles {
    width: 800px;
    height: 500px;
    background-color: chartreuse;
    border-radius: 10px;
    font-family: arvo;
    color: aliceblue;
    border: 2px solid;
    border-color: chartreuse;
    padding: 10px 40px 25px;
    margin: 0 auto;
    margin-top: 150px;
}

#welcome {
    text-align: center;
    margin-left: 300px;
    font-family: arvo;
    color: aliceblue;
    font-size: 25px
}

#logout {
    position: relative;
    float: center;
    background-color: cornflowerblue;
    color: #fff;
    margin-top: 10px;
    border: 2px solid;
    border-color: aliceblue;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

#names {
    background-color: cornflowerblue;
    width: 13%;
    height: 6%;
    margin-top: 10px;
    text-align: center;
    max-height: 6%;
}

#follows {

      margin-top: -43px;
    text-align: center;
    max-height: 6%;
    margin-right: 480px;
    padding: 5px;
    width: 10%;
}
#unfollows {

      margin-top: -43px;
    text-align: center;
    max-height: 6%;
    margin-right: 480px;
    padding: 5px;
}